p {
    margin: auto;    
}
h1 {
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
    color: #0c0b6b;
}
#contenedormensaje {
    text-align: center;
    margin: 90px !important;
}
