
#contenedormain {     
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px 115px 65px 0;
}
section {
    width: 70vw;
    box-sizing: border-box;
    text-align: end;
    padding-right: 10px;
    margin: 10px;
}
#search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: -15px;
}
#search #inputsearch {    
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #d7d8d8;
    width: 250px;
    color: #9c9fa1;
    font-size: 12px;
    text-align: center;
}
.continfo {
    width: 70vw;
    box-sizing: border-box;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}
.continfo .MuiIconButton-label, #search .MuiIconButton-label{
    color: orange !important;
}
#entrega {
   display: flex;
   flex-direction: column;
   
}
.infoentrega {    
    background: white;  
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    border-radius: 25px;
    font-size: 0.8em;
    text-align: center;
    width: 90%;
}
.fecha {
    display: block;
    padding: 10px;
    align-items: initial;
    font-size: 0.8em;
    text-align: center;
}
.descfecha {
    display: block;
}
.separadorvertical {
    width: 1px;
    height: 80px;
    margin-left: 25px;
    margin-right: 25px;
    border: 1px solid #cccfd1a6;
}
.truckIcon{
    transform: rotateY(180deg);
    color: #9c9fa1;
    margin-left: 40px;
}
.cevronIcon{
    color: orange;
}
.arrowIcon{
    color: rgb(200, 204, 206);
}
.ellinpsisIcon {
    color: hsl(200, 0%, 65%);
    margin-left: 30px;
    font-size: 1.5em !important;
}
.pluscircle {
    position: relative;
    right: -875px;
    bottom: 41px;
    color: orange;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}
.ubicacion {
    display: block;
    margin: 0 10px;
    position: relative;
    margin: 0 20px;
}
.paperarrow {
    display: inline-block;
    bottom: 10px;
    position: relative;
    right: 15px;
}
.ublabel {
    display: inline-block;
}
.ubicacion label {
    display: block;
}
.cantidad {
    width: 30px;
    height: 30px;
    background: rgb(223, 51, 51);
    color: white;
    border-radius: 3px;
    margin-left: 30px;
    text-align: center;
}
.precioEntrega {
    display: flex;
    align-items: center;
}
.precioEntrega .valor {
    margin: 0 20px 0 50px;
    font-size: calc(20px + 1vmin);
    font-weight: bold;
    color: hsl(200, 0%, 65%);
}
.PrivateSwitchBase-input-10:checked ~ .MuiIconButton-label {
    background: orange !important;
    border-radius: 50%
}

.MuiIconButton-colorSecondary {
    color: #999e9e !important;
    background: #e3e6e6 !important;
}

/* .MuiSwitch-track {
    background-color: rgba(2, 2, 95, 0.986);
    opacity: 1 !important;
    height: 15px !important;
    border-radius: 12px !important;
} */
label {
    color:hsl(200, 0%, 65%);
}
#modalentrega {
    text-align: center !important;
    padding: 10px;
}

#modalentrega a{
    position: relative;
    /* bottom: 10px; */
    top: 130px;
    background: rgb(1, 1, 63);
    color: white;
    padding: 8px;
    text-decoration: none;
    border-radius: 5px;
}
#modalentrega h1 {
    width: 100%;
    background: rgb(1, 1, 63);
    color: white;
    padding: 10px;
    border-radius: 5px;
}
#modalentrega p {
    padding: 10px 0px;
}
#modalentrega a:hover {
    background: rgba(1, 1, 63, 0.767);
}
