
.App-logo {
    height: 100px;
}
.logo {
    width: 20vw;
    padding-top: 20px;
    padding-left: 30px;
}
.App-header {
    min-height: 100px;
    height: 110px;
    max-width: 100%;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: calc(8px + 1vmin);
    box-sizing: border-box;
    padding-right: 60px;
}
nav {    
    width: 70%;
    padding-top: 15px;
    margin-right: 50px;
}
ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    background: white;
    border-radius: 3px;
    padding-inline-start: 0px !important;
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
}
ul .nav-link {
    display: block;
    width: 150px;
    font-size: 1em;
    transition: all 0.3s linear;
    text-align: center;
    color: rgba(3, 3, 64, 0.92);
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}
ul .nav-link:hover {
    background: rgb(31, 31, 56);
    color: white;
    transition: all 0.3s linear;
}
.fontA {
    display: block;    
    margin: auto;
    padding: 5px;
}

