.headerfiltros {
    text-align: center;
}
.headerfiltros label{
    color: #686b71;
    font-size: 15px;
    margin: 15px;
}
.contenedorfiltros {
    width: 25vw;
    float: left;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin: 30px;
}
.seccionfiltros {
    margin: 30px 0;
    display: block;
}
.iconfiltro {
    display: inline-block;
    margin-left: 20px;
    color: #8e9498c7;
}
.trogglefiltro {
    display: inline-block;
    margin-left: 26px;
}
.sepHorFiltros {
    width: 140px;
    margin-top: 20px;
    border: 1px solid #8e9498c7;    
}
.sepVerFiltros {
    width: 1px;
    height: 450px;
    margin-left: 20px;
    border: 1px solid #8e9498c7; 
}
.LightbulbIcon{
    color: #b1aeaae0;
}
.MuiSwitch-track {
    background-color: rgba(2, 2, 95, 0.986) !important;
    opacity: 1 !important;
}
#footerfiltros{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#footerfiltros label {
    font-size: 10px;
    color: #828385;
    margin-top: 10px;
}
#inputsearchfiltro, #inputdeliver {
    width: 80px;
    margin: 5px 0;
    font-size: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid lightgray;
    text-align: center;
    color: #9c9fa1;
}
#inputdeliver {
    font-weight: bold;
}

.trogglefiltro .MuiCheckbox-colorSecondary.Mui-checked {
    background: #37af05 !important;
}

.MuiSwitch-colorPrimary.Mui-checked {
    color: #27b715 !important;
}