.App {  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #e3e6e6 !important;
  z-index: 10;
  border-radius: 5px;
  width: 97vw;
  min-height: 95vh;
}
.filtros{
  width: 25vw;
}



